In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('open-meteo-1hourStep-31Params-9RegionsJapan-2024-01-01-2024-12-31.csv')
df.head()

,date,global_tilted_irradiance,shortwave_radiation,diffuse_radiation,direct_normal_irradiance,direct_radiation,terrestrial_radiation,temperature_2m,relative_humidity_2m,dew_point_2m,...,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m,wind_gusts_10m,surface_temperature,runoff,cape,total_column_integrated_water_vapour,region
0,2023-12-31 15:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,-11.814501,78.064926,-14.864500,...,0.720000,1.938659,180.00000,68.19853,15.48,NaN,NaN,NaN,2.9,Hokkaido
1,2023-12-31 16:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,-12.014501,84.704500,-14.064501,...,3.758510,5.760000,253.30067,270.00000,19.80,NaN,NaN,NaN,2.2,Hokkaido
2,2023-12-31 17:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,-12.514501,90.365540,-13.764501,...,3.671294,6.849467,258.69010,273.01273,21.24,NaN,NaN,NaN,1.8,Hokkaido
3,2023-12-31 18:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,-13.464500,89.550255,-14.814501,...,4.553680,9.178235,288.43503,318.17990,23.40,NaN,NaN,NaN,1.5,Hokkaido
4,2023-12-31 19:00:00+00:00,0.0,0.0,0.0,0.0,0.0,0.0,-16.564500,85.575150,-18.414501,...,5.991594,15.629971,327.26477,345.32355,35.64,NaN,NaN,NaN,1.3,Hokkaido

In [3]:
# Missing values
df.isnull().sum()

date                                        0
global_tilted_irradiance                    0
shortwave_radiation                         0
diffuse_radiation                           0
direct_normal_irradiance                    0
direct_radiation                            0
terrestrial_radiation                       0
temperature_2m                              0
relative_humidity_2m                        0
dew_point_2m                                0
apparent_temperature                        0
precipitation                               0
snowfall                                    0
rain                                        0
pressure_msl                                0
surface_pressure                            0
cloud_cover_low                             0
cloud_cover_mid                             0
cloud_cover_high                            0
vapour_pressure_deficit                     0
weather_code                                0
cloud_cover                                 0
et0_fao_evapotranspiration                  0
wind_speed_10m                              0
wind_speed_100m                             0
wind_direction_10m                          0
wind_direction_100m                         0
wind_gusts_10m                              0
surface_temperature                     79056
runoff                                  79056
cape                                    79056
total_column_integrated_water_vapour    39312
region                                      0
dtype: int64

In [8]:
# Drop columns with NaN values equal to all rows
col_with_nans = ['surface_temperature', 'runoff', 'cape', 'total_column_integrated_water_vapour']
df_cleaned = df.drop(columns=col_with_nans)
df_cleaned.isnull().sum()

date                          0
global_tilted_irradiance      0
shortwave_radiation           0
diffuse_radiation             0
direct_normal_irradiance      0
direct_radiation              0
terrestrial_radiation         0
temperature_2m                0
relative_humidity_2m          0
dew_point_2m                  0
apparent_temperature          0
precipitation                 0
snowfall                      0
rain                          0
pressure_msl                  0
surface_pressure              0
cloud_cover_low               0
cloud_cover_mid               0
cloud_cover_high              0
vapour_pressure_deficit       0
weather_code                  0
cloud_cover                   0
et0_fao_evapotranspiration    0
wind_speed_10m                0
wind_speed_100m               0
wind_direction_10m            0
wind_direction_100m           0
wind_gusts_10m                0
region                        0
dtype: int64

In [10]:
df_cleaned.describe()

,global_tilted_irradiance,shortwave_radiation,diffuse_radiation,direct_normal_irradiance,direct_radiation,terrestrial_radiation,temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,...,cloud_cover_high,vapour_pressure_deficit,weather_code,cloud_cover,et0_fao_evapotranspiration,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m,wind_gusts_10m
count,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,...,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000,79056.000000
mean,166.190586,166.190586,64.663707,170.191695,101.526880,346.144539,13.914182,77.100063,9.603873,13.164946,...,42.535823,0.444126,15.051356,65.740576,0.110618,11.288373,17.971654,197.327711,194.127609,27.860887
std,245.093962,245.093962,87.530536,265.926909,184.201812,426.991497,10.335187,16.499303,10.541704,13.334578,...,45.244399,0.480151,23.843330,40.479984,0.155483,7.607360,11.313869,114.857301,113.439396,15.834807
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-25.664501,17.670622,-30.064500,-30.747658,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.343085,0.278130,0.720000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.624000,65.436490,1.250000,2.944878,...,0.000000,0.118256,1.000000,22.000000,0.000000,5.829888,9.565437,96.842680,95.194340,15.840000
50%,7.000000,7.000000,6.000000,0.000000,0.000000,58.656280,14.579499,79.969540,10.919499,13.453940,...,15.000000,0.300703,3.000000,94.000000,0.036608,9.582358,15.913465,200.695530,198.435040,24.480000
75%,280.000000,280.000000,116.000000,293.439120,118.000000,708.824640,22.019500,90.501108,18.329500,23.722476,...,99.000000,0.594106,3.000000,100.000000,0.159991,14.799459,23.836240,309.400630,302.408063,36.360000
max,1042.000000,1042.000000,463.000000,992.553600,913.000000,1304.229000,38.600500,100.000000,29.173500,43.493553,...,100.000000,4.580699,75.000000,100.000000,0.790391,67.416180,97.952415,360.000000,360.000000,153.000000

In [11]:
df_cleaned.to_csv('open-meteo-1hourStep-27Params-9RegionsJapan-2024-01-01-2024-12-31-cleaned.csv', index=False)